# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
.venv/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Dataset - do not upload large image dataset
Data/

# Optional: ignore training logs
logs/